body {
	background: #2a9d8f;
}

div {
	display: block;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#nav {
	display: block;
	height: 60px;
	background: #e9c46a;
}

#nav a {
	display: block;
	float: left;
	border-right: 1px solid #d4b25b;
	color: white;
	padding: 0 20px;
	line-height: 60px;
	background: #e9c46a;
}

#nav a:hover {
	background: #b3a47e;
}

.content {
	position: relative;
	width: 730px;
	padding: 20px 250px 60px 20px;
	background: white;
	color: rgb(37, 36, 36);
}

.callout {
	position: absolute;
	top: 100px;
	bottom: 100px;
	right: -90px;
	width: 280px;
	padding: 0 20px;
	height: 1500px;
	border-top: 2px solid #bd0404;
	background: #e76f51;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 960px;
	line-height: 30px;
	padding: 0 20px;
	background: #f4a261;
}
